<section class="contact__us">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div id="map" class="img-fluid">

                </div>
            </div>
            <div class="col-md-5 pt-sm-0 pt-5 pl-5">
                <h5 class="discover__header text-uppercase">Discover Our Room</h5>
                <p class="discover__subtext">Luxury Interior</p>

                <div class="contact__address">
                    <p class="location"><span class="city">Abuja,</span> Nigeria</p>
                    <p class="address">Address: 1 Aguiyi Ironsi St, Abuja 900001, Nigeria <br>
                      Email: info@transcorphotelsplc.com</p>
                </div>

                <div class="contact__phone">
                    <p>Call directly</p>
                    <p>+234 708 060 3000</p>
                </div>
            </div>
        </div>
    </div>
</section>