<div class="check__container">
    <form action="#" class="form-inline">
        <div class="form-group-avail">
            <label for="checkIn" class="mb-3">Check-In</label>
            <input type="date" class="form-control" id="checkIn">
        </div>

        <div class="form-group-avail">
            <label for="checkOut" class="mb-3">Check-Out</label>
            <input type="date" class="form-control" id="checkOut">
        </div>

        <div class="form-group-avail">
            <label for="guest" class="mb-3">Guest</label>
            <input type="number" class="form-control" id="guestNumber" placeholder="03">
        </div>

        <div class="avail-action text-center">
            <p>Have a promotional code?</p>
            <button type="submit" class="btn btn-primary text-uppercase">Check availability</button>
        </div>

    </form>
</div>