<div class="check__container">
    <form action="#" class="form-inline">
        <div class="form-group-avail">
            <label for="checkIn">Check-In</label>
            <input type="month" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <div class="form-group-avail">
            <label for="checkOut">Check-Out</label>
            <input type="month" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <div class="form-group-avail">
            <label for="guest">Guest</label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <div class="">
            <button type="submit" class="btn btn-primary text-uppercase">Check availability</button>
        </div>

    </form>
</div>