<footer class="footer">
    <div class="container">
        <div class="row footer__line">

            <div class="col-sm-12 col-md-3 col-lg-3">
                <h5>Site Map</h5>
                <ul>
                    <li><a href="#">Terms and condition</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Affiliate</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3">
                <h5>Our Location</h5>
                <ul>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3">
                <h5>FAQS</h5>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Car Blog</a></li>
                    <li><a href="#">Location</a></li>
                    <li><a href="#">Press</a></li>
                </ul>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3">
                <h5>Sign up to get our newsletter</h5>

                <form action="">
                    <input type="email" name="email" id="footerEmailSignup" placeholder="Your email...">
                </form>
            </div>

        </div>
    </div>


    <div class="social__icons mt-5">
        <fa class="text-white pr-3" size="2x" name="facebook-official"></fa>
        <fa class="text-white pr-3" size="2x" name="twitter"></fa>
        <fa class="text-white pr-3" size="2x" name="instagram"></fa>
        <fa class="text-white pr-3" size="2x" name="linkedin-square"></fa>
        <fa class="text-white pr-3" size="2x" name="google-plus-g"></fa>
    </div>
</footer>