.navbar.bg-light {
    background-color: #ffffff !important;
}

.navbar li a {
    font-size: 14px;
    margin-right: 30px;
}

.navbar-brand img {
    object-fit: cover;
    object-position: -7% 0;

    width: 190px;
    height: 39px;
}

#nav-left {
 justify-content: flex-end;
}

#nav-right ul li a:first-child {
    margin-left: 30px;
}