<section class="about__us">
    <h5 class="text-uppercase">About Us</h5>
    <p>A best place to enjoy your life</p>

    <div class="about__text">
        <p>Transcorp Hilton Hotel is situated in the heart of Nigeria’s Federal Capital Territory, a 40-minute drive from the Nnamdi Azikiwe International Airport in Abuja. It is a 670–room, 5-star hotel that provides luxury accommodation, exotic cuisine, and fully equipped meeting rooms and to business travellers and tourists from all over the world</p>
    </div>

    <div class="about__image">
        <img class="img-responsive" src="../../../assets/images/2B379CC5-171B-4946-B91D-024EA95E74BF.png" alt="">
    </div>
</section>