.about__us {
    position: relative;
    padding: 28% 5% 0%;
    margin-bottom: 120px
}

.about__header {
     font-family:'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 4.94px;
    color: #9b9b9b;
}

p.about__subtext,
.about__text p {
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
}

p.about__subtext {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 26px;
    line-height: normal;
    letter-spacing: 2.06px;
    text-align: center;
    color: #000000;
}

.about__text p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.82px;
    text-align: center;
    color: #9b9b9b;
}

@media screen and (min-width: 500px){
    .about__us {
        padding-top: 14%;
        /* margin-bottom: 120px */
    }
}

@media screen and (min-width: 900px) {
    .about__us {
        padding: 12% 14% 0%;
        margin-bottom: 170px;
    }

    p.about__subtext {
        font-size: 52px;
        letter-spacing: 3.06px;
    }

    .about__image {
        position: absolute;
        text-align: center;
        transform: translate(-50%, -50%);
        left: 50%;
        bottom: -74%;
    }

}

@media screen and (min-width: 1200px) {
    .about__us {
        padding: 12% 28% 7%;
        margin-bottom: 120px
    }

    .about__image {
        bottom: -60%;
    }
}
