.main__banner {
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(67, 67, 67, 0.2)), url("../../../assets/images/transcorp-mainbanner-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 520px;
}

.banner__text {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 50%;
    left: 50%;
}

.banner__text h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner__text fa {
    cursor: pointer;
}

/* .banner__text fa:hover {
    animation: rotate 4s;
} */

.banner__text p:first-child {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.banner__text .sub__t {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
/* 
@keyframes rotate {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
} */