<section class="discover">
  <a href="#" class="text-uppercase">View more photos</a>

  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">

    </div>

    <h3 class="text-uppercase">Latest from our blog</h3>

    <div class="row">
      <div class="col">
        <app-blog-card></app-blog-card>
      </div>

      <div class="col">
        <app-blog-card></app-blog-card>
      </div>

      <div class="col">
        <app-blog-card></app-blog-card>
      </div>
    </div>

  </div>
</section>